
  {{#material-slider}}
  {{/material-slider}}
  {{#link-to 'clients.new'}}{{md-btn text='Client Application' class='blue-grey darken-1'}}{{/link-to}}
  {{#link-to 'nannies.new'}}{{md-btn text='Nanny Application' class='blue-grey darken-1'}}{{/link-to}}

  <!-- {{#if modalIsOpen}}
      {{#md-modal close='closeModal' class="test-modal"}}
          <div class="modal-content">
              <h4>Ohai there!</h4>
              <p>Star ember-cli-materialize if you love it on
              <a href="https://github.com/truenorth/ember-cli-materialize">github</a>!
              </p>
          </div>
          <div class="modal-footer">
              <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'agree'}}>
                  Done!
              </a>
              <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
                  Cancel
              </a>
          </div>
      {{/md-modal}}
  {{/if}} -->
{{featured-products}}
{{section-2}}
{{featured-product}}
{{home-footer}}


<!-- {{#slick-carousel class="ember-carousel" mobileFirst=true arrows=true fade=true autoplay=true autoplaySpeed=9000 dots=true}}
<img src="http://placehold.it/1900x550?text=Slide+1">
<img src="http://placehold.it/1900x550?text=Slide+2">
<img src="http://placehold.it/1900x550?text=Slide+3">
{{/slick-carousel}} -->
