<footer>
  <div class="footer-item">
    <span><a href src="http://facebook.com">{{fa-icon "facebook-square"}}</a></span>
  </div>
  {{yield}}
  <div class="footer-item">
    <span><a href src="http://pinterest.com">{{fa-icon "pinterest-square"}}</a></span>
  </div>
  <div class="footer-item">
    <span><a href src="http://twitter.com">{{fa-icon "twitter"}}</a></span>
  </div>
</footer>
<!--
<footer>

  <div class="row">
    <div class="footer-item">
      <span><a href src="http://youtube.com">{{fa-icon "youtube-square"}}</a></span>
    </div>
    <div class="footer-item">
      <span><a href src="http://facebook.com">{{fa-icon "facebook-square"}}</a></span>
    </div>
    <div class="footer-item">
      <span><a href src="http://linkedin.com">{{fa-icon "linkedin-square"}}</a></span>
    </div>
    <div class="footer-item">
      <span><a href src="http://twitter.com">{{fa-icon "twitter"}}</a></span>
    </div>
    <div class="footer-item">
      <span><a href src="http://google.com">{{fa-icon "google-plus-square"}}</a></span>
    </div>
    <div class="footer-item">
      <span><a href src="http://pinterest.com">{{fa-icon "pinterest-square"}}</a></span>
    </div>

  </div>
</footer> -->
