{{#store-layout}}
  <div class="product-listing">
  {{#each products as |product|}}
    <div class="product-card">
      <span class="quick-view-product" {{action 'openModal' product}}>Quick View</span>
      <div class="product-link-to" {{action 'redirectToItem' product.id}}>
        <img class="product-image" src={{product.images.firstObject.imageUrl}}>
        <p style="text-align: center;">
          <strong>{{product.title}}</strong> / Description<br/>
          ${{product.price}}
        </p>
      </div>
    </div>
  {{/each}}
  </div>
{{/store-layout}}
{{#if modalIsOpen}}
    {{#md-modal close='closeModal' class="top-0"}}
        <div class="modal-content">
          <img class="product-image-modal" src={{modalproduct.images.firstObject.imageUrl}}>
            <h4>{{modalproduct.title}}</h4>
            <p>
              {{modalproduct.description}}<br/><br/>
              Price: ${{modalproduct.price}}<br/>
              {{#if modalproduct.inStock}}<span style="color: green;">In Stock</span>{{else}}<span style="color: red;">Out of Stock</span>{{/if}}<br><br>{{#link-to 'store.show' modalproduct}}View full details{{/link-to}}
            </p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'agree'}}>
                Done!
            </a>
            <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
                Cancel
            </a>
        </div>
    {{/md-modal}}
{{/if}}
